@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.GetItDone {
    font-size: 2em;
    color: white ;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


h1{
    margin-bottom: 20px;
}

.pricing-container{
    display: flex;
    gap: 20px;
}

.plan{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background: white;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.plan h2 {
    margin-bottom: 10px;
    color: #333;
}

.price{
    font-size: 1.5em;
    font-weight: bold;
    color: #27ae60;
}

.features {
    margin: 15px 0;
}
.features p {
    margin: 5px 0;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 9px;
    font-size: 20px;
    background: #27ae60;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
}

.btn:hover{
    transition: 0.2s;
    background: #21212186;
}
